.page {
  background-color: var(--bg-normal-primary1);
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100dvh;
  width: 100%;
}

.main {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 24px;
  padding: 20px;
  width: 100%;
}

.fieldWrap {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.imageInfoSection {
  background-color: var(--bg-normal-white);
  border: 1px solid var(--border-primary);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 14px 16px;
}

.imageInfoTitle {
  color: var(--text-assistive2);
}

.imageInfoText {
  color: var(--text-normal);
}

.imageInfoSubText {
  color: var(--text-assistive1);
}

.labelText,
.limitText {
  color: var(--text-white);
}

.inputBrandButton {
  align-items: center;
  background-color: var(--bg-normal-white);
  border: 1px solid var(--border-primary);
  border-radius: 8px;
  display: inline-flex;
  justify-content: space-between;
  padding: 16px 20px;
  text-align: left;
  width: 100%;
}

.inputBrandButton:focus {
  outline: none;
}

.inputBrandValue {
  color: var(--text-normal);
}

.inputBrandPlaceholder {
  color: var(--text-assistive2);
}

.inputBrandChevron {
  color: var(--text-assistive2);
}

.textArea {
  background-color: var(--bg-normal-white);
  border: 1px solid var(--border-primary);
  border-radius: 8px;
  color: var(--text-normal);
  min-height: 150px;
  overflow-y: auto;
  padding: 16px 20px;
  resize: none;
  width: 100%;
}

.textArea::placeholder {
  color: var(--text-assistive2);
}

.textArea:focus {
  outline: none;
}

.limitText {
  text-align: end;
}

.footer {
  padding: 0 20px;
  padding-bottom: var(--safe-area-bottom);
}
