.container {
  width: 100%;
  padding: 16px 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-top: env(safe-area-inset-top, 0px);
}

.AccordionContainer {
  border-radius: 8px;
  background: #ffe9d5;
}

.Accordion {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  color: var(--gray-900);
}

.Item {
  border-bottom: 1px solid var(--gray-200);
}

.Header {
  margin: 0;
}

.Trigger {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  justify-content: space-between;
  color: var(--gray-1100);
  font-weight: var(--fw-medium);
  font-size: 16px;
  letter-spacing: var(--letter-spacing-tight);
  line-height: var(--line-height-145);
  border: none;
  outline: none;
  text-align: left;
  padding: 16px 20px;

  &:focus-visible {
    outline: 2px solid var(--status-link);
    z-index: 1;
  }
}

.TriggerIcon {
  box-sizing: border-box;
  transition: transform 150ms ease-out;

  [data-panel-open] > & {
    transform: rotate(180deg);
  }
}

.Panel {
  box-sizing: border-box;
  height: var(--accordion-panel-height);
  overflow: hidden;
  color: var(--gray-600);
  transition: height 150ms ease-out;

  &[data-starting-style],
  &[data-ending-style] {
    height: 0;
  }
}

.Content {
  padding: 16px 20px;
}
