.inputBox {
  display: flex;
  align-items: end;
}

.input {
  flex: 1;
  border: var(--border-normal) 1px solid;
  border-radius: 6px;
  outline: none;
  width: 100%;
  padding: 14px 12px;
}

.input::placeholder {
  color: var(--text-assistive2);
}

.unit {
  color: var(--text-normal);
  margin-left: 12px;
  padding-bottom: 2px;
}

.inputBox:has(input:not(:placeholder-shown)) .unit {
  color: var(--gray-1100);
}

.input::-webkit-inner-spin-button,
.input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
