.group {
  align-items: center;
  display: flex;
  gap: 4px;
  justify-content: center;
  width: 100%;
}

.input {
  border: 0;
  box-sizing: border-box;
  font-size: 20px;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 4ch;
}

.input:focus,
.input:focus-visible {
  box-shadow: none;
  outline: none;
}

/* Chrome / Safari / Edge spinner 제거 */
.input::-webkit-inner-spin-button,
.input::-webkit-outer-spin-button {
  appearance: none;
  margin: 0;
}

.input:focus,
.input:focus-visible {
  box-shadow: none;
  outline: none;
}

.decrement,
.increment {
  align-items: center;
  background: none;
  border: 0;
  box-sizing: border-box;
  color: var(--common-1200);
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin: 0;
  outline: 0;
  padding: 0;
  user-select: none;

  @media (hover: hover) {
    &:hover {
      background-color: gray;
    }
  }
}

.decrement {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.increment {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.unit {
  color: var(--common-1200);
  font-size: 20px;
}
