.inputBox {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.inputBox input {
  border: none;
  outline: none;
  text-align: right;
  font-size: 40px;
  font-weight: var(--fw-medium);
  width: 100%;
}

input::placeholder {
  color: var(--gray-600);
}

/* Chrome / Safari / Edge spinner 제거 */
.input::-webkit-inner-spin-button,
.input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.unit {
  margin-left: 4px;
  font-size: 40px;
  color: var(--gray-600);
}

.inputBox:has(input:not(:placeholder-shown)) .unit {
  color: var(--text-normal);
}
