.page {
  width: 100%;
  height: 100%;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-normal-normal);
}

.main {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.summarySection {
  overflow: hidden;
  padding: 20px;
  border-radius: 8px;
  background-color: var(--bg-normal-primary2);
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.foodInfoRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

.foodTextWrap {
  display: flex;
  min-width: 0;
  flex-direction: column;
  gap: 2px;
}

.brandText {
  color: var(--text-assistive1);
}

.foodNameText {
  color: var(--text-normal);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.calorieInputWrap {
  display: inline-flex;
  align-items: baseline;
  justify-content: flex-end;
  gap: 4px;
}

.calorieInput {
  width: 140px;
  padding: 0;
  border: 0;
  text-align: right;
  color: var(--text-normal);
  background-color: transparent;
}

.calorieInput::placeholder {
  color: var(--text-normal);
}

.calorieInput:focus {
  outline: none;
}

.calorieUnit {
  color: var(--text-normal);
}

.macroRow {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 5px;
}

.macroItem {
  padding: 16px;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--border-normal);
  background-color: var(--bg-normal-white);
  border-radius: 8px;
}

.macroLabel {
  color: var(--text-assistive1);
}

.macroInputWrap {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 2px;
}

.macroInput {
  width: 100%;
  padding: 0;
  border: 0;
  text-align: right;
  color: var(--text-primary);
}

.macroInput::placeholder {
  color: var(--text-primary);
}

.macroInput:focus {
  outline: none;
}

.macroUnitText {
  color: var(--text-primary);
}

.detailSection {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.detailHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

.detailRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 0px;
}

.detailLabel {
  min-width: 0;
}

.detailLabelMain {
  color: var(--text-normal);
}

.detailLabelSub {
  color: var(--text-assistive1);
  padding-left: 4px;
}

.detailInputWrap {
  display: inline-flex;
  align-items: baseline;
  justify-content: flex-end;
  gap: 6px;
  background-color: var(--bg-normal-white);
  border-radius: 8px;
  border: 1px solid var(--border-normal);
  padding: 10px 14px;
}

.detailInput {
  width: 104px;
  text-align: right;
  border: none;
}

.detailInput:focus {
  outline: none;
  border-color: var(--border-primary);
}

.detailInput::placeholder {
  color: var(--text-assistive2);
}

.unitText {
  text-align: right;
}

.footer {
  padding: 0 20px;
  padding-bottom: env(safe-area-inset-bottom, 0px);
}

.TabsRoot {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.TabsList {
  border: 1px solid var(--border-normal);
  border-radius: 8px;
  padding: 4px;
  background-color: var(--bg-normal-white);
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: auto;
}

.TabsTab {
  background: var(--bg-normal-white);
  padding: 14px 8px;
  color: var(--text-assistive2);
  border-radius: 6px;
  text-align: center;
  font-size: var(--fs-title4);
  line-height: var(--line-height-145);
  letter-spacing: var(--letter-spacing-tight);
  font-weight: var(--fw-semibold);

  &[data-active] {
    background: var(--interaction-primary);
    color: var(--text-primary);
  }
}

.TabsPanel {
  width: 100%;
}

.FieldGroup {
  width: 100%;
  padding: 16px;
  border: 1px solid var(--border-normal);
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  background-color: var(--bg-normal-white);
}

.FieldInput {
  flex: 1;
  text-align: center;
  border: 0;
  background-color: transparent;
  width: 100%;
}

.FieldInput::placeholder {
  color: var(--text-assistive2);
}

.FieldInput:focus {
  outline: none;
}
