/* 전역 기본값 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  isolation: isolate;
  margin: 0 auto;

  /* width: min(100%, 375px); */
  min-height: 100dvh;
  padding: 0;
}

body {
  font-family: var(--font-family-base);
  letter-spacing: var(--letter-spacing-body);
  line-height: var(--line-height-130);
  position: relative;
}

p {
  font-size: var(--fs-body2);
  font-weight: var(--fw-medium);
  letter-spacing: var(--letter-spacing-body);
  line-height: var(--line-height-130);
  margin: 0;
  word-break: keep-all;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

h1 {
  font-size: var(--fs-h1);
  font-weight: var(--fw-medium);
  letter-spacing: var(--letter-spacing-tight);
  line-height: var(--line-height-120);
}

h2 {
  font-size: var(--fs-h2);
  font-weight: var(--fw-semibold);
  letter-spacing: var(--letter-spacing-tight);
  line-height: var(--line-height-120);
}

h3 {
  font-size: var(--fs-h3);
  font-weight: var(--fw-semibold);
  letter-spacing: var(--letter-spacing-tight);
  line-height: var(--line-height-120);
}

h4 {
  font-size: var(--fs-title1);
  font-weight: var(--fw-semibold);
  letter-spacing: var(--letter-spacing-tight);
  line-height: var(--line-height-145);
}

button {
  background: transparent;
  border: 0;
  cursor: pointer;
  margin: 0;
  padding: 0;
  text-align: start;
}

body,
button,
input,
textarea,
select {
  color: var(--text-normal);
  font-family: var(--font-family-base);
}
