/* 전역 기본값 */

* {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  font-family: pretendard;
}

html,
body {
  height: 100%;
}

#root {
  width: min(100%, 375px);
  min-height: 100dvh;
  margin: 0 auto;
  isolation: isolate;
  display: flex;
  flex-direction: column;
}

body {
  position: relative;
}
