.btn {
  border-radius: 8px;
  border: 0;
  font-size: 16px;
  cursor: pointer;
  forced-color-adjust: none;
}

.btn--primary {
  background: #ff9500;
  color: #fff;
}

.btn--secondary {
  background: #f0e7db;
  color: rgba(0, 0, 0, 0.7);
}

.btn:disabled {
  opacity: 0.6;
  background: #efeeec;
  color: black;
  cursor: not-allowed;
}

.btn--lg {
  padding: 0px 16px;
  height: 44px;
}

.btn--md {
  padding: 0px 16px;
  height: 36px;
}

.btn--sm {
  padding: 0px 8px;
  height: 32px;
}

.btn--full {
  width: 100%;
  height: 51px;
}
