.card {
  width: 100%;
  border: 1px solid var(--border-normal);
  border-radius: 8px;
  background-color: var(--bg-normal-white);
  padding: 16px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 6px;
}

.card.clickable {
  cursor: pointer;
}

.card.selected {
  border-color: var(--border-primary);
  background-color: var(--interaction-primary);
}

.content {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.titleSection {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.description {
  color: var(--text-assistive2);
}

.chipList {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  flex-wrap: wrap;
}

.chip {
  border-radius: 4px;
  padding: 2px 6px;
  display: inline-flex;
  align-items: center;
}

.personalChipLabel {
  background-color: var(--bg-normal-normal);
  color: var(--text-assistive2);
}

.suggestionChipLabel {
  background-color: var(--interaction-primary);
  color: var(--text-primary);
  border: 1px solid var(--border-primary);
}

.iconButton {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  border-radius: 6px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: var(--text-normal);
}

.iconButton:disabled {
  cursor: default;
  pointer-events: none;
}

.selected .iconButton {
  color: var(--primary-strong);
}

.title {
  color: var(--text-normal);
}

.meta {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  flex-wrap: wrap;
}

.prouductInfo {
  display: flex;
  gap: 4px;
  align-items: center;
}

.calories {
  color: var(--text-normal);
}

.brand {
  color: var(--text-assistive2);
}

.unitAmount {
  color: var(--text-assistive1);
}
