.page {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-normal-normal);
}

.main {
  flex: 1;
  overflow-y: auto;
  display: flex;
  padding: 20px;
}

.searchSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.resultList {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.emptyResult {
  border: 1px solid var(--border-normal);
  border-radius: 12px;
  background-color: var(--bg-normal-white);
  color: var(--text-normal);
  padding: 26px 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.buttonContainer {
  display: flex;
  gap: 30px;
}

.placeholder {
  border: 1px solid var(--border-normal);
  border-radius: 12px;
  background-color: var(--bg-normal-white);
  padding: 30px 20px;
  text-align: center;
}

.placeholderText {
  color: var(--text-assistive2);
}

.footer {
  padding: 0 20px;
  padding-bottom: calc(env(safe-area-inset-bottom, 0px) + 8px);
}

.directInputText {
  color: var(--text-assistive2);
}

.brandRequestSheetContainer {
  display: flex;
  flex-direction: column;
  padding: 0 24px;
  gap: 40px;
  padding-bottom: calc(env(safe-area-inset-bottom, 0px) + 16px);
}

.brandRequestSheetContent {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.brandRequestSheetTitleContainer {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.brandRequestSheetDescription {
  color: var(--text-assistive1);
}

.brandRequestInputLabel {
  color: var(--text-assistive1);
}

.brandRequestInput {
  width: 100%;
  border: 1px solid var(--border-normal);
  border-radius: 6px;
  background-color: var(--bg-normal-white);
  color: var(--text-normal);
  padding: 14px 12px;
}

.brandRequestInput::placeholder {
  color: var(--text-assistive2);
}

.brandRequestInput:focus {
  outline: none;
}
