.page {
  background-color: var(--bg-normal-primary1);
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100dvh;
  width: 100%;
}

.main {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
}

.content {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
  justify-content: center;
}

.title {
  color: var(--text-white);
  text-align: center;
}

.searchSection {
  background: var(--bg-normal-white);
  border: 1px solid var(--border-normal);
  border-radius: 8px;
  display: flex;
  gap: 8px;
  padding: 16px 20px;
  width: 100%;
}

.searchText,
.icon {
  color: var(--text-assistive2);
}

.buttonText {
  color: var(--text-white);
}

.footer {
  padding-bottom: var(--safe-area-bottom);
}
